@model Movie
    @*<div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-3">
                <img src="/img/@Model.ImageUrl" class="card-img" alt="@Model.Title">
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <h5 class="card-title">@Model.Title</h5>
                    <div>
                        <a class="btn btn-primary" asp-controller="Movies" asp-action="Details" asp-route-id="@Model.Id" >Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    @*<div class="card" style="width: 18rem;">
        <img src="/img/@Model.ImageUrl" class="card-img-top" alt="@Model.Title">
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">@Html.Raw(Model.Description)</p>
            <a class="btn btn-primary stretched-link" asp-controller="Movies" asp-action="Details" asp-route-id="@Model.Id">Detay</a>
        </div>
    </div>*@
    <div class="row g-0 bg-light position-relative">
        <div class="col-md-6 mb-md-0 p-md-4">
            <img src="/img/@Model.ImageUrl" class="w-100" alt="@Model.Title">
        </div>
        <div class="col-md-6 p-4 ps-md-0">
            <h5 class="mt-0">@Model.Title</h5>
            <p>@Html.Raw(Model.Description)</p>
            <a class="btn btn-primary stretched-link" asp-controller="Movies" asp-action="Details" asp-route-id="@Model.Id">Detay</a>
        </div>
    </div>

